<div class="w3-sidebar w3-bar-block w3-card" style="width:16%;right:0;">
	<h3 class="w3-bar-item">Chat</h3>
	<!-- <a  class="w3-bar-item w3-button">Link 3</a> -->
	<div class="w3-container" style="margin-right:12%">
		<input class="form-control" type="text" placeholder="make a comment">
		<br>
		<button type="button" style="margin-left:30%" class="btn btn-light mr-1">Submit</button>
		<button type="button" class="btn btn-light">Cancel</button>
		<div style="padding-top:60% ;text-align:center">
			<img width="200"
				src="https://images.vexels.com/media/users/3/136808/isolated/preview/d3455a22af5f3ed7565fb5fb71bb8d43-send-message-icon-by-vexels.png"
				alt="">
			<p style="text-align:center ;">

				Got something to say ?
				comment to start a discussion , make a note , or annotate the artboard
			</p>

		</div>
	</div>
</div>